doctype html
html
	head
		media(charset="utf-8")
		block common_head
			title Demo
		script(type="text/javascript" src=`//localhost:3300/assets/js/common.min.js`)
		link(rel="stylesheet" href="//localhost:3300/assets/css/index.min.css" type="text/css")
	body
		#root
		script(type="text/javascript" src=`//localhost:3300/assets/js/index.min.js`)
